body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  color: #f5f6f7;
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2em;
  margin: 36px auto 6px auto;
  font-weight: 400;
  line-height: 1.2;
}

p {
  margin: 0; /* Remove default margins */
  padding: 0; /* Optional: Remove padding if needed */
}

.description {
  padding-bottom: 24px;
  font-style: italic;
  font-weight: 200;
  font-size: 1.125rem;
}

.survey-form {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  background-color: #1b1b32;
  padding: 2.5rem;
}

.main {
  margin: 0 auto 1.25rem auto;
  padding: 0.2rem;
  text-align: left;
}

button {
  color: white;
  background-color: green;
  width: 100%;
  height: 32px;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: #228b22;
}

.input {
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 1px 2px;
}

select.input {
  height: 2.75rem;
  width: 100%;
}
.label-radio {
  display: flex;
  gap: 0.5rem;
}

.improved {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  gap: 0.5rem;
}

.improved label {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.textarea {
  width: 100%;
  min-height: 150px;
}
